language: perl
perl:
  - "5.10"
  - "5.12"
  - "5.14"
  - "5.16"
  - "5.18"
  - "5.20"
  - "5.22"
  - "5.24"
  - "5.26"
  - "5.28"
  - "5.30"

before_install:
  - cpanm --quiet --notest --skip-satisfied Devel::Cover::Report::Codecov

script:
  - perl Build.PL && ./Build build
  - prove -r xt
  - cover -test

after_success:
  - cover -report codecov

notifications:
  slack:
    - secure: "UKgonoCFUmu4up+8l8anTnof0ITo7eKwS+HDrlOScsErbjHofPMYPuH/O4KWGpEIWfNt2euR2hLDwpMED8F9aVFRlajWIw1WiByWQ0KROMb/PMlR2mCcamDxRT5sFTyCzFjKTc4LlpET/Ij5PLCtY6dgBAiZW83pCprBoC0DrUzKymjF6zmwAF9b7Gw6S/iIpWePT372ngL3GvmCLg1Lb91tDHaTvOtcJweSQaAa6BkmfR6+0rOMHekP8fEVViOuJlzPHzx0+uukz4tircIntRj7LidBMeT8QaTDpr09Ce5DRSFN1iDEHi7w1xBZWocf32hEa1e1Sz0/ub8fSHmP1/zCc76Wg2tx2UekCycXioJNE7s7iGrlfB4EgvAyaZixbyqENKnlagkS53AsVyUMrhyYUYBI93ARUlaqk8JU7cKwULPt33Otr3luQg8iFhfQK4EjvOQYL98bL+0WqVwpWdrgtcGJPytBWKCNHKqEaLsBg/gIJuolhmY8cmP7kq5yYRJW9+Ag8XWu4f6W4POAo/kt5Lry8julNYK1ZjtkzTXVRtVV27i2RizsnaMS2t/tKEqwAapIzFAJe40jH+t0tLRSFeVa8upMVeff8XiMhidZTwCmzJAv72i7zcwSjBVJH9gnXTMIyqS1+t54XYsM0WM0XWGau4h5Vay5HONh/Nk="
